@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
}

html {
  scroll-behavior: smooth;
}

/* Improve media defaults */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create Custom Scroll-Bar */
::-webkit-scrollbar {
  width: 10px;
  background: #c5cadf;
}

::-webkit-scrollbar-thumb {
  background: #70768a;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #454f6b;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-blue: hsl(0, 0%, 98%);
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Common CSS Classes */
.container {
  max-width: 1440px;
  width: 80%;
  margin-inline: auto;
}

/** Four Card Feature Section */
.main-container {
  background-color: var(--very-light-blue);
}

.card-feature-container {
  min-height: 100vh;
  padding: 5rem 0;
}

.heading-info {
  text-align: center;
  padding-bottom: 5rem;
}

.heading-info h1:nth-child(1) {
  font-weight: 200;
  color: var(--very-dark-blue);
}

.heading-info h1:nth-child(2) {
  color: var(--very-dark-blue);
  font-weight: 600;
}

.heading-info > p {
  width: 45%;
  margin-inline: auto;
  color: var(--grayish-blue);
  line-height: 26px;
  font-size: 15px;
  padding: 1rem 0 0;
}

/* Card Container */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    '. team .'
    'supervisor team calculator'
    'supervisor karma calculator'
    '. karma .';
  gap: 2rem;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
}

.card.supervisor {
  grid-area: supervisor;
  border-top: 5px solid var(--cyan);
  box-shadow: 0 10px 15px hsl(231, 16%, 91%);
}

.card.team {
  grid-area: team;
  border-top: 5px solid var(--red);
  box-shadow: 0 10px 15px hsl(231, 16%, 91%);
}

.card.karma {
  grid-area: karma;
  border-top: 5px solid var(--orange);
  box-shadow: 0 10px 15px hsl(231, 16%, 91%);
}

.card.calculator {
  grid-area: calculator;
  border-top: 5px solid var(--blue);
  box-shadow: 0 10px 15px hsl(231, 16%, 91%);
}

.card .card-info > h3 {
  color: var(--very-dark-blue);
  font-size: 20px;
}

.card .card-info > p {
  font-size: 13.6px;
  color: var(--grayish-blue);
  padding: 1rem 0 3rem;
}

.card > img {
  margin-left: auto;
}
